{% block js %}
{% endblock js %}
{% block titre %}
{% endblock titre %}
{% block content %}
<div class="well">
<h1>{% if form.initial.nom %} {{form.initial.nom}} {%else%}Nouveau projet {%endif%}</h1>
<form action="" method="POST" class="form-horizontal">
{% csrf_token %}
<p>{{ form.errors }}</p>
{% for field in form %}
    <p>{{ field.label_tag }}</p>
    <p>{{ field }}</p>
{% endfor %}
<input type="submit" value="{% if form.initial.nom %}Modifier{%else%}Créer{%endif%}" />
</form>
</div>
<script type="text/javascript"></script>
{% endblock content %}
